/* RESET & TYPOGRAPHY */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Cantarell", -apple-system, BlinkMacSystemFont, "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.01em;
  word-spacing: -0.01em;
}
body {
	background: black;
	color: white;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: 800;
  line-height: 1.25;
}
a {
  color: #62a0ea;
}

/* CONTENT */
.container {
  /* position: relative; */
  overflow: hidden;
}


.shell {
  position: relative;

	width: 100vw;
	height: 100vh;
	background-color: #49474e;

	display: grid;
	grid-template-rows: 38px 4vh
                      32px 4vh
                      17vh 4vh
                      auto 2vh
                      2vh 3vh
                      95px 2vh;
	grid-template-areas:
		"topbar"
		"."
		"search"
		"."
		"workspaces"
		"."
		"appgrid"
		"."
		"dots"
		"."
		"dash"
		"."
}

.shell::before {
  z-index: -99999;
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("assets/wallpaper.jpg");
  transform: scale(1.9);
  filter: blur(50px) brightness(0.8);
}

.topbar {
	grid-area: topbar;

	/* height: 38px; */
	/* background-color: black; */
}

.search {
	grid-area: search;

	width: 260px;
	/* height: 32px; */
	border-radius: 99999px;
	background-color: rgba(255,255,255, 0.5);
	margin: 0 auto;
}

.workspaces {
	grid-area: workspaces;

	display: flex;
	justify-content: center;
	/* gap: 1.4vw; */
}

.wallpaper {
	width: 17vw;
	height: 17vh;
	background-image: url("assets/wallpaper.jpg");
	background-size: cover;
	border-radius: 8px;
	box-shadow: 0 3px 6px #00000033;
  margin-left: 0.5vw;
  margin-right: 0.5vw;

	transition: ease-out 0.15s;
}

.wallpaper.active {
	transform: scale(1.06);
}
.wallpaper:not(.active):hover {
	transform: scale(1.02);
}

.appgrid {
	grid-area: appgrid;

	width: 75vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(8, 1fr [col-start]);
	grid-template-rows: repeat(3, 1fr [col-start]);
}

@media (max-width: 900px) {
	.appgrid {
		width: 90vw;
	}
}

@media (max-aspect-ratio: 4/3) {
	.appgrid {
		grid-template-columns: repeat(6, 1fr [col-start]);
		grid-template-rows: repeat(4, 1fr [col-start]);
	}
}

@media (max-aspect-ratio: 3/4) {
	.appgrid {
		grid-template-columns: repeat(4, 1fr [col-start]);
		grid-template-rows: repeat(6, 1fr [col-start]);
	}
}

.appicon {
	align-self: center;
	display: block;
}

.appicon img {
	display: block;
	margin: 0 auto 0;
	width: 64px;
	/* height: 64px; */
	filter: drop-shadow(0 0.08rem 0.1rem rgba(0,0,0, 0.28))
		      drop-shadow(0 0.3rem 0.5rem rgba(0,0,0, 0.15));
}

.appicon img:hover {
	transform: scale(1.05);
	transition: ease-out 0.11s;
}

.appicon span {
	display: block;
	margin: 6px auto 0;
	text-align: center;
	font-size: 12px;

	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 2000px) {
	.appgrid .appicon img {
		width: 96px;
	}
}

@media (min-width: 3000px) {
	.appgrid .appicon img {
		width: 128px;
	}
}

.dots {
	grid-area: dots;
	align-self: center;

	margin: 0 auto;
	display: flex;
	justify-content: center;
	gap: 24px;
}

.dot {
	width: 6px;
	height: 6px;
	border-radius: 99999px;
	background-color: white;
	opacity: 0.5;
}
.dot.active {
	opacity: 1;
	transform: scale(1.4);
}

.dash-container {
	grid-area: dash;
	justify-self: center;

	display: flex;
	align-items: bottom;
}

.dash {
	align-self: flex-end;

	/* height: 95px; */
	background-color: rgba(255,255,255, 0.13);
	border-radius: 25px;

	display: flex;
	align-items: center;
	padding: 14px;
}

.dash .appicon {
	margin: 0 9px;
}

@media (max-width: 900px) {
	.dash {
		height: 67px;
		border-radius: 18px;
	}
	.dash .appicon {
		margin: 0 6px;
	}
	.dash .appicon img {
		width: 48px;
	}
	.shell {
		grid-template-rows: 38px 4vh
                        32px 4vh
                        17vh 4vh
                        auto 2vh
                        2vh 2vh
                        67px 2vh;
	}
}

.workspaces {
  /* background: green; */
}
.wallpaper.new {
  transform: scaleX(0.2) scaleY(0.7);
  width: 0;
  margin: 0;
  transition: all 0.3s ease-out;
}
.workspaces:hover .wallpaper.new {
  transform: scaleX(1) scaleY(1);
  width: inherit;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  width: 17vw;
}
